

:root {
  background-color: #454545;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}


.wrapper {
  background-color: #313131;
  width: 960;
  border: 1px white solid;
  box-shadow: #000000 4px 4px;
  
}

.header {
  background-image: url(logo.png);
  width: 960; 
  height: 150;
  background-repeat: no-repeat !important;
  background-position: center !important
}

.content {
  margin: 20;
}

p,h2 {
  color: white;
}

p:nth-child(2) {
  margin-bottom: 33;
}

#download {
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  font-size: 14px;
  text-shadow: rgb(195, 34, 62) 0px 1px 0px;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.21) 0px 0px 1px inset;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  height: 35px;
  min-width: 75px;
  background: rgb(255, 36, 73);
  text-decoration: none;
  padding: 0px 10px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-image: initial;
}

strong {
  color: white;
}

span {
  color: rgb(189, 189, 189);
}

.uploads {
  margin-bottom: 33;
}

ul {
  color: #ffffff;
font-family: Lato,Lato,LatoExtended,sans-serif;
font-size: 16px;
line-height: 1.4;
padding: 1px;
margin-left: 0px;
list-style: none;
}

li {
  color: #707070;
font-family: Lato,Lato,LatoExtended,sans-serif;
font-size: 16px;
line-height: 1.4;
list-style: none;
display: flex;
align-items: center;
margin: 0px 0px 5px;
}

a {
  color: #ff2449;
  padding: 2;
}